
  <h1>Welcome to Toilet Garden</h1>


  <ul>
    <% ['poop', 'shit', 'excrement', 'number two'].each do |waste| %>
      <li>You like to grow <span style="color:orange"><%= waste %></span></li>
    <% end %>
  </ul>
